input {
    background-color: white;
    border: 1px solid black;
    margin-left: 0px;
    padding-left: 0px;
}

input[type="file"] {
    border: none;
}

input[type="range"] {
    padding: 0;
    margin-left: 5px;
}

textarea {
    resize: none;
}