html {
    width: 100%;
}

body {
    display: block;
    background-color: rgb(134, 234, 204);
}

.hidden{
    /* Important makes this display override any other display values */
    display: none !important;
}

#container {
    /*display: inline-block;*/
    width: 310px;
    height: 15%;
    border-radius: 25px;
    padding: 30px 30px 100px 30px;
    background-color: white;
    margin: 100px auto;
}

#container h2 {
    white-space: nowrap;
}

.error {
    text-align: center;
}

input {
    font-family: cursive;
    margin: 7px;
    display: inline-block;
    background-color: rgb(134, 234, 204);
    border: none;
    padding: 5px 10px;
}

table {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    border-collapse: collapse;
}

th {
    font-family: cursive;
    border-top: solid 5px black;
    margin: -10px;
    padding: -10px;
    font-size: 150%;
    background: rgb(6,151,14);
}

td {
    text-align: center;
    background: rgb(71, 218, 145);
}